/* 
RED TRIANGLE HEADINGS
-- See an example of Red Triangle Header here: https://wou.edu/teachered/early-childhood/
-- To add the red triangle header:
	1) Add the code below to the master stylesheet. If you only want the red triangle header to apply to elements within Divi Builder, you can remove the selectors that are just "#pageHeader..."
	2) Go to your page and add the "Full Width Header" Divi module.
	3) Add the title you want as an H1 element.
	4) Go to Advanced -> CSS IDs & Classes -> in the ID field, enter pageHeader.
	5) Save.
*/

#pageHeader,
#pageHeader.wou-menu-visible, 
#et-boc .et-l div #pageHeader {
	padding: 6vh 0 6vh 0 !important;
	background-color: #be0a29;
	position: relative;
	overflow: hidden;
	margin-bottom: 5vw;
}
#pageHeader h1,
.et-db #et-boc .et-l #pageHeader h1 {
	padding: 0;
	padding-right: 18%;
	text-transform: none;
	font-size: 5rem;
	line-height: 1.3;
	color: #fff;
	position: relative;
	z-index: 5;
	max-width: none;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
#pageHeader::before,
.et-db #et-boc .et-l #pageHeader::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 30vw 20vw 0;
	border-color: transparent #db0a29 transparent transparent;
	top: 0;
	right: 0;
}
#pageHeader::after,
.et-db #et-boc .et-l #pageHeader::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 8vw 30vw;
	border-color: transparent transparent #a1252c transparent;
	bottom: 0;
	right: 0;
	opacity: .6;
}
/* --- less than 767 --- */
@media screen and (max-width: 767px) {
	#pageHeader h1,
	.et-db #et-boc .et-l #pageHeader h1 {
		padding: 0;
		font-size: 4.5rem;
		font-weight: bold;
	}
	#pageHeader,
	#pageHeader.wou-menu-visible,
	#et-boc .et-l div #pageHeader {
		margin-bottom: 17.75vw;
	}
}
/* --- greater than 1560 --- */
@media screen and (min-width: 1560px) {
	#pageHeader h1,
	.et-db #et-boc .et-l #pageHeader h1 {
		margin-left: auto;
		margin-right: auto;
		width: calc(-10vw + 100%);
		max-width: 1400px;
	}
}
